<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Login page for ShueWorld voting infrastructure">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		input {
			width: 90%;
			padding: 10px;
			margin: 5px;
			outline: none;
		}

		input[type="submit"] {
			width: 150px;
		}

		input::placeholder {
			color: #1c87c9;
			opacity: 1;
		}

		input:placeholder-shown {
			border: 1px solid #095484;
		}
	</style>
	<link rel="stylesheet" href="authPage.css" />
	<title>Document</title>
</head>

<body>
	<form action="/getQuestion" method="post">
		<div>
			<div id="clockdiv">
				Minutes: <span class="minutes"></span><br>
				Seconds: <span class="seconds"></span>
			</div>
			<br>
			<h1 style="color:darkred ;">SMS</h1>
		</div>
		<div class="form-group">
			<label style="color:darkred ;">Question:</label>
			<input type="text" name="answer" id="answer" value="{{{secretCode}}}" disabled />
		</div>
		<div>
			<input type="submit" value="Get Question" />
		</div>
        <div style="text-align:center">
			<a href="/secretQA">Back to Anthentification</a>
		</div>
	</form>
	<script src="timer.js"></script>
</body>

</html>