<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Voting phase for shueworld">
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
    <style>
        body {
            background-color: #42788d;
        }

        .content {
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>

<body>
    <div class="content">
        <h3>
            <b style="font-size:x-large ;">Welcome, {{{citizen}}} !</b>
            <br><a href="/logout">Log Out</a>
        </h3>
        <h1>The Stoic</h1>
        <h4>By Waynevisser</h4>
        <p style="font-size:x-large ;">I am a stoic
            But that does not mean
            That I deny life's pleasures
            Rather, I embrace the fullness of life
            Always delighted by its highs
            And ever expecting its lows
            Knowing that the path to equanimity
            Lies somewhere in between</p>
        <br>
        <p style="font-size:x-large ;">I am a stoic
            But that does not mean
            That I dull down life's colours
            Rather, I accept the vagaries of life
            Always influencing what I can
            And letting go of the rest
            Knowing that the secret to happiness
            Is telling the difference</p>
        <br>
        <p style="font-size:x-large ;">I am a stoic
            But that does not mean
            That I spurn life's potential
            Rather, I study the patterns of life
            Always finding beauty everywhere
            And befriending the chaos
            Knowing that the purpose of existence
            Is to have existed at all</p>
    </div>
    <script>
        // if there's a cookie with the name myClock, use that value as the deadline
        if (document.cookie && document.cookie.match('myClock')) {
            // get deadline value from cookie
            deadline = document.cookie.match(/(^|;)myClock=([^;]+)/)[2];
            document.cookie = "myClock=" + deadline + "; expires=Thu, 21 Aug 2014 20:00:00 UTC ";
        }
    </script>
</body>

</html>